header {
	width: 100%;
	height: auto;
	padding: 20px;
}

.background-header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: rgba(228, 228, 231, 0.89);
	border-radius: 20px;
}

.logo-header {
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-header p {
	font-weight: bold;
}

.search-header {
	width: auto;
	height: 40px;
	margin-left: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	background-color: #18181b;
	border-radius: 20px;
}

.search-header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.search-header ul li {
	color: #a1a1aa;
	cursor: pointer;
	font-size: 13px;
	line-height: 40px;
	transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.search-header ul li:hover {
	color: #f4f4f5;
	font-size: 14px;
}

.search-header ul li:hover {
	font-size: 14px;
}

.search-icon-container {
	width: 25px;
	height: 25px;
	background-color: #f4f4f5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: none;
	transition: 0.3s ease;
}

.search-icon-container:hover {
	width: 30px;
	height: 30px;
}

.other-buttons-for-header {
	width: auto;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.other-buttons-for-header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: 14px;
	font-weight: 600;
}

.other-buttons-for-header ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

.other-buttons-for-header ul li svg {
	margin-top: 5px;
}

.other-buttons-for-header ul li button {
	width: 160px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
	font-family: Inter;
	font-weight: 600;
	font-size: 13px;
	padding: 0 10px;
	border-radius: 20px;
	outline: 1px solid #a1a1aa;
	border: none;
	background-color: #f4f4f5;
	transition: background-color 0.3s ease;
}

.other-buttons-for-header ul li button:hover {
	background-color: #e4e4e7;
}

@media (min-width: 1080px) and (max-width: 1920px) {
	.background-header {
		height: 80px;
	}

	.logo-header {
		font-size: 22px;
	}

	.search-header {
		width: 400px;
		height: 50px;
		padding: 0 10px;
		border-radius: 30px;
	}

	.search-header ul {
		row-gap: 70px;
	}

	.search-header ul li {
		font-size: 16px;
		transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
	}

	.search-header ul li:hover {
		color: #f4f4f5;
		font-size: 18px;
	}

	.search-header ul li:hover {
		font-size: 18px;
	}

	.other-buttons-for-header ul {
		font-size: 22px;
	}

	.other-buttons-for-header ul li svg {
		width: 24px;
		height: 24px;
		margin-top: 3px;
	}

	.other-buttons-for-header ul li button {
		width: 200px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		/* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
		font-family: Inter;
		font-weight: 600;
		font-size: 20px;
		padding: 15px 15px;
		border-radius: 20px;
		outline: 1px solid #a1a1aa;
		border: none;
		background-color: #f4f4f5;
		transition: background-color 0.3s ease;
	}

	.other-buttons-for-header ul li button:hover {
		background-color: #e4e4e7;
	}
}

@media (min-width: 1080px) and (max-width: 1880px) {
}

@media (min-width: 1080px) and (max-width: 1820px) {
}

@media (min-width: 1080px) and (max-width: 1712px) {
}

@media (min-width: 1080px) and (max-width: 1607px) {
}

@media (min-width: 1080px) and (max-width: 1523px) {
}

@media (min-width: 768px) and (max-width: 1365px) {
}

@media (min-width: 1101px) and (max-width: 1287px) {
}

@media (min-width: 1001px) and (max-width: 1100px) {
}

@media (min-width: 900px) and (max-width: 1000px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
	.search-header {
		margin-left: 40px;
	}
}
